<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.project.smums"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:allowBackup="true"
        android:icon="@drawable/icon2"
        android:label="UnivBox"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="UnivBox" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="StartActivity"></activity>
        <activity android:name="championship.ChampionshipIntro"
            android:label="대회"></activity>
        <activity android:name="exercise.ExerciseIntro"
             android:label="종목"></activity>
        <activity android:name="player.PlayerIntro"
             android:label="G.U News"></activity>
        <activity android:name="schedule.GameSchedule"
             android:label="경기일정"></activity>
        <activity android:name="stadium.StadiumIntro"
             android:label="경기장"></activity>
        <activity android:name="exercise.Archery"
            	  android:label="양궁"></activity>
        <activity android:name="exercise.Athlete"
            android:label="종목 -육상"></activity>
        <activity android:name="exercise.Badminton"
            android:label="종목 -배드민턴"></activity>
        <activity android:name="exercise.Baseball"
            android:label="종목 -야구"></activity>
        <activity android:name="exercise.Basketball"
            android:label="종목 -농구"></activity>
        <activity android:name="exercise.Diving"
            android:label="종목 -다이빙"></activity>
        <activity android:name="exercise.Fencing"
            android:label="종목 -펜싱"></activity>
        <activity android:name="exercise.Golf"
            android:label="종목 -골프"></activity>
        <activity android:name="exercise.Gymnastics"
            android:label="종목 -기계체조"></activity>
        <activity android:name="exercise.Handball"
            android:label="종목 -핸드볼"></activity>
        <activity android:name="exercise.Judo"
            android:label="종목 -유도"></activity>
        <activity android:name="exercise.Rhythm"
            android:label="종목 -리듬체조"></activity>
        <activity android:name="exercise.Rowing"
            android:label="종목 -조정"></activity>
        <activity android:name="exercise.Shoot"
            android:label="종목 -사격"></activity>
        <activity android:name="exercise.Soccer"
            android:label="종목 -축구"></activity>
        <activity android:name="exercise.Swimming"
            android:label="종목 -수영"></activity>
        <activity android:name="exercise.Tabletennis"
            android:label="종목 -탁구"></activity>
        <activity android:name="exercise.Taekwondo"
            android:label="종목 -태권도"></activity>
        <activity android:name="exercise.Tennis"
            android:label="종목 -테니스"></activity>
        <activity android:name="exercise.Volleyball"
            android:label="종목 -배구"></activity>
        <activity android:name="exercise.Waterpolo"
            android:label="종목 -수구"></activity>
        <activity android:name="exercise.Archery_1"></activity>
        <activity android:name="exercise.Archery_2"></activity>
        <activity android:name="exercise.Archery_3"></activity>
        <activity android:name="exercise.Athlete_1"></activity>
        <activity android:name="exercise.Athlete_2"></activity>
        <activity android:name="exercise.Athlete_3"></activity>
        <activity android:name="Badminton_1"></activity>
        <activity android:name="exercise.Badminton_2"></activity>
        <activity android:name="exercise.Badminton_1"></activity>
        <activity android:name="exercise.Badminton_3"></activity>
        <activity android:name="exercise.Baseball_1"></activity>
        <activity android:name="exercise.Baseball_2"></activity>
        <activity android:name="exercise.Baseball_3"></activity>
        <activity android:name="exercise.Basketball_1"></activity>
        <activity android:name="exercise.Basketball_2"></activity>
        <activity android:name="exercise.Basketball_3"></activity>
        <activity android:name="exercise.Diving_1"></activity>
        <activity android:name="exercise.Diving_2"></activity>
        <activity android:name="exercise.Diving_3"></activity>
        <activity android:name="exercise.Fencing_1"></activity>
        <activity android:name="exercise.Fencing_2"></activity>
        <activity android:name="exercise.Fencing_3"></activity>
        <activity android:name="exercise.Golf_1"></activity>
        <activity android:name="exercise.Golf_2"></activity>
        <activity android:name="exercise.Golf_3"></activity>
        <activity android:name="exercise.Gymnastics_1"></activity>
        <activity android:name="exercise.Gymnastics_2"></activity>
        <activity android:name="exercise.Gymnastics_3"></activity>
        <activity android:name="exercise.Handball_1"></activity>
        <activity android:name="exercise.Handball_2"></activity>
        <activity android:name="exercise.Handball_3"></activity>
        <activity android:name="exercise.Judo_1"></activity>
        <activity android:name="exercise.Judo_2"></activity>
        <activity android:name="exercise.Judo_3"></activity>
        <activity android:name="exercise.Rhythm_1"></activity>
        <activity android:name="exercise.Rhythm_2"></activity>
        <activity android:name="exercise.Rhythm_3"></activity>
        <activity android:name="exercise.Rowing_1"></activity>
        <activity android:name="exercise.Rowing_2"></activity>
        <activity android:name="exercise.Rowing_3"></activity>
        <activity android:name="exercise.Shoot_1"></activity>
        <activity android:name="exercise.Shoot_2"></activity>
        <activity android:name="exercise.Shoot_3"></activity>
        <activity android:name="exercise.Soccer_1"></activity>
        <activity android:name="exercise.Soccer_2"></activity>
        <activity android:name="exercise.Soccer_3"></activity>
        <activity android:name="exercise.Swimming_1"></activity>
        <activity android:name="exercise.Swimming_2"></activity>
        <activity android:name="exercise.Swimming_3"></activity>
        <activity android:name="exercise.Tabletennis_1"></activity>
        <activity android:name="Tabletennis_2"></activity>
        <activity android:name="exercise.Tabletennis_2"></activity>
        <activity android:name="exercise.Tabletennis_3"></activity>
        <activity android:name="exercise.Taekwondo_1"></activity>
        <activity android:name="exercise.Taekwondo_2"></activity>
        <activity android:name="exercise.Taekwondo_3"></activity>
        <activity android:name="exercise.Tennis_1"></activity>
        <activity android:name="exercise.Tennis_2"></activity>
        <activity android:name="exercise.Tennis_3"></activity>
        <activity android:name="exercise.Volleyball_1"></activity>
        <activity android:name="exercise.Volleyball_2"></activity>
        <activity android:name="exercise.Volleyball_3"></activity>
        <activity android:name="exercise.Waterpolo_1"></activity>
        <activity android:name="exercise.Waterpolo_2"></activity>
        <activity android:name="exercise.Waterpolo_3"></activity>
        <activity android:name="Backpress"></activity>
        <activity android:name="DBAdapter"></activity>
        <activity android:name="schedule.Gs1"
            android:label="경기일정 -양궁"></activity>
        <activity android:name="schedule.Gs2"
            android:label="경기일정 -배드민턴"></activity>
        <activity android:name="schedule.Gs3"
            android:label="경기일정 -육상"></activity>
        <activity android:name="schedule.Gs4"
            android:label="경기일정 -야구"></activity>
        <activity android:name="schedule.Gs5"
            android:label="경기일정 -농구"></activity>
        <activity android:name="schedule.Gs6"
            android:label="경기일정 -다이빙"></activity>
        <activity android:name="schedule.Gs7"
            android:label="경기일정 -펜싱"></activity>
        <activity android:name="schedule.Gs8"
            android:label="경기일정 -골프"></activity>
        <activity android:name="schedule.Gs9"
            android:label="경기일정 -기계체조"></activity>
        <activity android:name="schedule.Gs10"
            android:label="경기일정 -핸드볼"></activity>
        <activity android:name="schedule.Gs11"
            android:label="경기일정 -유도"></activity>
        <activity android:name="schedule.Gs12"
            android:label="경기일정 -리듬체조"></activity>
        <activity android:name="schedule.Gs13"
            android:label="경기일정 -조정"></activity>
        <activity android:name="schedule.Gs14"
            android:label="경기일정 -사격"></activity>
        <activity android:name="schedule.Gs15"
            android:label="경기일정 -축구"></activity>
        <activity android:name="schedule.Gs16"
            android:label="경기일정 -수영"></activity>
        <activity android:name="schedule.Gs17"
            android:label="경기일정 -탁구"></activity>
        <activity android:name="schedule.Gs18"
            android:label="경기일정 -태권도"></activity>
        <activity android:name="schedule.Gs19"
            android:label="경기일정 -테니스"></activity>
        <activity android:name="schedule.Gs20"
            android:label="경기일정 -배구"></activity>
        <activity android:name="schedule.Gs21"
            android:label="경기일정 -수구"></activity>
        <activity android:name="exercise.ImageAdapter"></activity>
        <activity android:name="schedule.GsAdapter"></activity>
        <activity android:name="championship.Champ_1"></activity>
        <activity android:name="championship.Champ_2"></activity>
        <activity android:name="championship.Champ_3"></activity>
        <activity android:name="championship.Champ_4"></activity>
        <activity android:name="championship.Champ_5"></activity>
        <activity android:name="championship.Champ_6"></activity>
        <activity android:name="anim.CloseAnimation"></activity>
        <activity android:name="anim.OpenAnimation"></activity>
        <activity android:name="exercise.archerygym"></activity>
        <activity android:name="exercise.bitgoeulgym"></activity>
        <activity android:name="exercise.bosungground"></activity>
        <activity android:name="exercise.chosununivgym"></activity>
        <activity android:name="exercise.chungangwomenhighschoolgym"></activity>
        <activity android:name="exercise.donggangunivgym"></activity>
        <activity android:name="exercise.gochangground"></activity>
        <activity android:name="exercise.gochanggym"></activity>
        <activity android:name="exercise.guraegym"></activity>
        <activity android:name="exercise.gwangjuwomenunivgym"></activity>
        <activity android:name="exercise.honamunivfootall"></activity>
        <activity android:name="exercise.honamunivgym"></activity>
        <activity android:name="exercise.hwasooncenter"></activity>
        <activity android:name="exercise.jangsunggym"></activity>
        <activity android:name="exercise.jangsungjojung"></activity>
        <activity android:name="exercise.jangsunglake"></activity>
        <activity android:name="exercise.jeonjugym"></activity>
        <activity android:name="exercise.jeonnamunivgym"></activity>
        <activity android:name="exercise.jungeupground"></activity>
        <activity android:name="exercise.muanchodangunivgym"></activity>
        <activity android:name="exercise.muangym"></activity>
        <activity android:name="exercise.mudeongbaseball"></activity>
        <activity android:name="exercise.najudongsinunivgym"></activity>
        <activity android:name="exercise.najuground"></activity>
        <activity android:name="exercise.najugym"></activity>
        <activity android:name="exercise.najugym2"></activity>
        <activity android:name="exercise.najushooting"></activity>
        <activity android:name="exercise.soonchungym"></activity>
        <activity android:name="exercise.swimminggym"></activity>
        <activity android:name="exercise.yeomjugym"></activity>
        <activity android:name="exercise.yeomjuswimming"></activity>
        <activity android:name="exercise.younggwangfootball"></activity>
        <activity android:name="exercise.younggwanggym"></activity>
        <activity android:name="anim.ExpandAnimation"></activity>
        
    </application>

</manifest>
